.NoteForm {
  z-index: 1;
  position: fixed;
  background-color: #fff;
  width: 50%;
  left: 25%;
  top: 13%;
  border-radius: 10px;
  border: solid 2px #004ecb;
}

.NoteForm--title,
.NoteForm--list-item,
.NoteForm--new-input,
.NoteForm--p--complete {
  margin: 15px auto;
  display: inline-block;
  width: 80%;
  border: none;
  outline: none;
  text-align: left;
  border-bottom: 1px solid black;
}

.NoteForm--p--complete {
  text-decoration: line-through;
  color: lightgray;
}

.NoteForm--title {
  font-size: 1.6rem;
}

.NoteForm--span--incomplete,
.NoteForm--span--complete,
.NoteForm--new-input {
  display: block;
}

.NoteForm--icon--unchecked,
.NoteForm--icon--checked,
.NoteForm--icon--delete {
  width: 15px;
}