.NoteForm {
  z-index: 1;
  position: fixed;
  background-color: #fff;
  width: 50%;
  left: 25%;
  top: 120px;
  border-radius: 10px;
  border: solid 2px #004ecb;
}

.NoteForm--list-item,
.NoteForm--p--complete,
.NoteForm--p--incomplete {
  display: inline-block;
  width: 80%;
  border: none;
  outline: none;
  text-align: left;
  border-bottom: 1px solid black;
  margin: 0 10px;
}

.NoteForm--title,
.NoteForm--new-input {
  @extend .NoteForm--list-item;
  margin: 15px auto;
}

.NoteForm--p--complete,
.NoteForm--p--incomplete {
  border-bottom: 0;
}

.NoteForm--p--complete {
  text-decoration: line-through;
  color: lightgray;
}

.NoteForm--title {
  font-size: 1.6rem;
}

.NoteForm--span--incomplete,
.NoteForm--span--complete,
.NoteForm--new-input {
  display: flex;
  margin: 15px auto;
  align-items: center;
}

%iconwidth {
  width: 15px;  
}

.NoteForm--icon--unchecked,
.NoteForm--icon--checked {
  margin-left: auto; 
  @extend %iconwidth;
}
.NoteForm--icon--delete {
  margin-right: auto;
  @extend %iconwidth;  
}