.Error404 {
  padding-top: 80px;
  width: 100%;
  height: 100vh;
  background-image: url('../images/blank-note-unsplash.jpg');
  background-size: cover;
  background-position: bottom;
}

.Error404--h2 {
  color: #fff;
  font-size: 5rem;
  font-weight: 500;
  margin-bottom: 16px;
}

.Error404--Link {
  color: $primary-dark;
  font-size: 3rem;
  cursor: pointer;
}