$primary: #4fc3f7;
$primary-light: #8bf6ff;
$primary-dark: #0093c4;
$secondary: #2979ff;
$secondary-light: #75a7ff;
$secondary-dark: #004ecb;

$heavy-shadow: 
  0px 2px 4px -1px rgba(0, 0, 0, 0.2),
  0px 4px 5px 0px rgba(0, 0, 0, 0.14),
  0px 1px 10px 0px rgba(0, 0, 0, 0.12);
$light-shadow:
  0px 1px 5px 0px rgba(0, 0, 0, 0.2),
  0px 2px 2px 0px rgba(0, 0, 0, 0.14),
  0px 3px 1px -2px rgba(0, 0, 0, 0.12);