.App {
  text-align: center;
}

.App--header {
  background-color: #fff;
  margin: 0;
  padding: 0% 4%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: $heavy-shadow;
  z-index: 10;
  position: relative;
}

.App--h1 {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  color: $secondary-dark;
  letter-spacing: 3px;
  font-weight: 500;
}

.App--notebook-icon {
  height: 2rem;
  margin-right: 8px;
}

@media screen and (max-width: 528px) {
  .App--header {
    display: grid;
    padding: 0px 38px 16px 38px;
    grid-template-columns: 1fr;
  }  
}