.App {
  text-align: center;
}

.App--h1 {
  background-color: #fff;
  color: $secondary-dark;
  font-size: 1.6rem;
  letter-spacing: 3px;
  font-weight: 500;
  margin: 0;
  padding: 0% 4%;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: left;
  box-shadow: $heavy-shadow;
  z-index: 10;
  position: relative;
}

.App--notebook-icon {
  height: 1.7rem;
  margin-right: 4px;
}