.NoteContainer {
  width: 1536px;
  margin: auto;
}

.NoteContainer--disabled {
  @extend .NoteContainer;
  pointer-events: none;
  filter: opacity(0.9) blur(.7px);
}

.NoteContainer--div {
  width: 100%;
  display: grid;
  margin: 24px 0 16px;
  justify-content: center;
  grid-template-columns: 1fr 48px 88px 48px 1fr;
  height: 40px;
}

.NoteContainer--link {
  display: block;
  font-size: 1.2rem;
  text-decoration: none;
  color: #000;
  display: grid;
  grid-template-columns: 48px 88px;
  grid-column: 2/5;
}

.NoteContainer--cards {
  display: flex;
  width: auto;
}

.NoteContainer--cards-masonry-cols {
  background-clip: padding-box;
}

.NoteContainer--icon--new-note {
  width: 22px;
  justify-self: right;
  margin-right: 14px;
  border-radius: 5px;
  box-shadow: $light-shadow;
  align-self: center;

  &:hover {
    box-shadow: $heavy-shadow;
  }
}

.NoteContainer--sign-out {
  width: 88px;
  border: none;
  border-radius: 2px;
  position: absolute;
  right: 4%;
  background-color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 2px;
  height: 36px;
  outline: none;
  cursor: pointer;
  box-shadow: $light-shadow;
  font-size: 14px;
  color: #676767;
  
  &:hover {
    color: #000;
    transition: all 500ms ease;
    box-shadow: $heavy-shadow;
  }
}

.NoteContainer--span {
  justify-self: left;
  align-self: center;
  color: #676767;

  &:hover {
    color: #000;
    transition: all 500ms ease;
  }
}

@media screen and (max-width: 1552px) {
  .NoteContainer {
    width: 1280px;
  }
}

@media screen and (max-width: 1296px) {
  .NoteContainer {
    width: 1024px;
  }
}

@media screen and (max-width: 1040px) {
  .NoteContainer {
    width: 768px;
  }
}

@media screen and (max-width: 784px) {
  .NoteContainer {
    width: 512px;
  }
}

@media screen and (max-width: 528px) {
  .NoteContainer {
    width: 100%;
    padding: 0 8px;
  }

  .NoteContainer--sign-out {
    right: 8px;
  }
}