.NoteCard {
  display: inline-block;
  width: 240px;
  padding: 16px 8px;
  border-radius: 10px;
  text-decoration: none;
  color: #000;
  margin: 8px;
  box-shadow: $light-shadow;
  
  &:hover {
    box-shadow: $heavy-shadow;
  }
}

.NoteCard--h3 {
  font-weight: 400;
  font-size: 1.1rem;
  padding-left: 13px;
  text-align: left;
  overflow-wrap: break-word;
}

.NoteCard--span--incomplete,
.NoteCard--span--complete {
  @extend .NoteForm--span--incomplete;
  font-weight: 300;
  font-size: 1rem;
  margin: 8px;
  word-break: break-all;
}

.NoteCard--ellipsis {
  text-align: left;
  margin: 8px;
  padding-left: 8px;
}