.NoteCard {
  display: inline-block;
  width: 240px;
  background-color: whitesmoke;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 10px;
  text-decoration: none;
  color: #000;
  margin: 10px auto;
}