.NoteCard {
  display: inline-block;
  width: 240px;
  padding: 12px 4px;
  border-radius: 10px;
  text-decoration: none;
  color: #000;
  margin: 8px;
  box-shadow: $light-shadow;

  &:hover {
    box-shadow: $heavy-shadow;
    cursor: grab;
  }

  &:active {
    cursor: grabbing;
  }
}

.NoteCard--background-disabled {
  @extend .NoteCard;
  pointer-events: none;
}

.NoteCard--background-pink {
  @extend .NoteCard;
  background-color: $pink-background;
}

.NoteCard--background-orange {
  @extend .NoteCard;
  background-color: $orange-background;
}

.NoteCard--background-gray {
  @extend .NoteCard;
  background-color: $gray-background;
}

.NoteCard--background-yellow {
  @extend .NoteCard;
  background-color: $yellow-background;
}

.NoteCard--background-lavender {
  @extend .NoteCard;
  background-color: $lavender-background;
}

.NoteCard--background-green {
  @extend .NoteCard;
  background-color: $green-background;
}

.NoteCard--background-blue {
  @extend .NoteCard;
  background-color: $blue-background;
}

.NoteCard--background-white {
  @extend .NoteCard;
  background-color: #fff;
}

.NoteCard--h3 {
  font-weight: 400;
  font-size: 1.1rem;
  padding: 0px 0px 8px 13px;
  text-align: left;
  overflow-wrap: break-word;
}

.NoteCard--span--incomplete,
.NoteCard--span--complete {
  @extend .NoteForm--span--incomplete;
  font-weight: 300;
  font-size: 1rem;
  margin: 8px;
  overflow-wrap: break-word;
}

.NoteCard--ellipsis {
  text-align: left;
  margin: 8px;
  padding-left: 8px;
}

hr {
  border: .3px solid #80808047;
  width: 94%;
  margin: auto;
}

.NoteCard--completed-notice {
  color: #8e8e8e;
  font-weight: 200;
  font-size: 11px;
  padding: 15px 0px 0px 15px;
  text-align: left;
  font-style: italic;
  letter-spacing: .5px;
}

.NoteCard--icon-container {
  display: flex;
  justify-content: space-between;
}

.NoteCard--delete-icon,
.NoteCard--edit-icon {
  width: 24px;
  height: 24px;
  margin: 8px 12px 0;
  cursor: pointer;
}

.NoteCard--icon--checked,
.NoteCard--icon--unchecked {
  @extend .NoteForm--icon--checked;
}

@media screen and (max-width: 528px) {
  .NoteCard {
    width: 100%;
    margin: 8px 0;
  }

  .NoteCard--icon--checked,
  .NoteCard--icon--unchecked {
    margin-left: 6px;
  }
}